body {
    margin: 0;
    padding: 0;
    background-color: #FAF1E4;
    font-family: 'Noto Serif', serif;
    text-align: center;
}

header, main, footer {
    background-color: #435334;
    color: #FAF1E4;
    
    margin: 0 auto;
    padding: 10px;
}

.events, .weather, .spotlights {
    margin-top: 30px;
}

header {
    margin-bottom: 20px;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 2rem;
}

h1 {
    text-align: center;
    line-height: 3rem;
    margin: 0 auto 30px auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

#menu-button {
	font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 40px;
    height: 35px;
	border: 1px solid #9EB384;
	background-color: #FAF1E4;
    border-radius: 0.5vh;
	color: #435334;
 	position: absolute;
	top: 10px;
	right: 10px;
    cursor: pointer;
    
}

.menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #CEDEBD;
    display: none;
}

.menu li {
    border-top: 1px solid #CEDEBD;
}

.menu li a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 15px 0;
    font-size: 1.2rem;
    color: inherit;
}

.menu li:hover {
    background-color: #CEDEBD;
    color: #435334;
}

.menu li a:visited {
    color: inherit;
}

/* toggle open class */
.open {
    display: block;
}
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

#menu-button::before {
	content: "☰";
}

#menu-button.open::before {
	content: "X";
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    margin-top: 20px;
    border-radius: 1vh;
    border: 1px solid #CEDEBD;
}

.hero button {
    cursor: pointer;
    position: absolute;
    width: 250px;
    height: 60px;
    top: 50px;
    left: 50%;
    margin-left: -125px;
    font-size: 1.4rem;
    border: 0.5px solid #9EB384;
    border-radius: 2vh;
    background-color: #CEDEBD;
    color: #435334;
}

.hero button:hover {
    background-color: #435334;
    color: #CEDEBD;
}


footer {
    margin-top: 20px;
    
}

/* Home Enhancements */

figcaption {
    text-transform: capitalize;
}

.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {
    background-color: #CEDEBD;
    color: #435334;
    padding: 10px;
    border-radius: 12px;
    width: 200px;
}

.spotlights h2 {
    margin: 20px 0;
}

.flex-container1 {
    display: flex;
    flex-direction: column;
}

.flex-container1 > div {
    background-color: #CEDEBD;
    color: #435334;
    padding: 10px;
    margin: 15px;
    border-radius: 12px;
}

.flex-container1 > div img {
    display: block;
    margin: 15px auto;

}

.events img {
    width: 100%;
}

#banner-btn {
    font-weight: bold;
    text-align: center;
    width: 25px;
    height: 25px;
	border: 1px solid #9EB384;
	background-color: #FAF1E4;
    border-radius: 0.5vh;
	color: #435334;
 	position: absolute;
    right: 10px;
    cursor: pointer;
}

#banner { 
    display: block;
}

/* styling for Discover page */

.discover-grid {
    display: grid;
    margin: 20px auto;
    grid-template-columns: 1fr;
    gap: 10px;
}

.discover-grid h3 {
    margin: 30px auto;
    font-size: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 90%;
    margin: 10px;
}

.discover-grid div {
    background-color:#FAF1E4;
    color: #435334;
    border-radius: 12px;
}
.discover-grid p, .discover-grid ul {
    padding: 15px;
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.discover-grid ul {
    text-align: left;
}

.attractions li {
    padding-bottom: 15px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
}


/*----------- FORM --------------*/
#form-main {
    width: 100%;
    max-width: 1200px;
    margin: 0;
    padding: 30px 0;
}

#form-main h2 {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

form, .membership-info {
    margin: 10px 20px;
    text-align: left;
}

form fieldset{
    margin: 2rem 0;
    border: 1px solid #9EB384;
    border-radius: 10px;
    padding: .5rem 2%;;
}

form legend {
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding: .75rem;
    font-size: 1rem;
}

form label.top input, textarea {
    display: block;
    font-size: 1.2rem;
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 5px;
    padding: 1rem;
    color: #435334;
    width: 100%;
    max-width: 20rem;
    background-color: #FAF1E4;
}

textarea {
    width: 600px;
}

form div {
    font-size: 1.2rem;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    margin-left: 10px;
}

form input.submitBtn {
    border: none;
    background-color: #FAF1E4;
    color: #435334;
    border-radius: 1rem;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 30px 10px;
    width: 100%;
    max-width: 25rem;
}

.membership-card {
    background-color: #FAF1E4;
    color: #435334;
    border-radius: 12px;
    padding: 20px;
    margin: 10px 0;
}

.membership-card span {
    font-style: italic;
    font-size: 1.2rem;
    display: block;
}

.membership-card p {
    line-height: 1.7rem;
}

/*----------- DIRECTORY --------------*/

#directory-main {
    padding: 10px 0;
}
#directory-main h2 {
    display: block;
    padding: 30px;
}

.display-menu {
    width: 100%;
    max-width: 90%;
    margin: 20px auto;
    background-color: #9EB384;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.display-menu button {
    padding: 10px 30px;
    font-size: 1.2rem;
}

.display-menu button:hover {
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    margin: 20px 0;
}


.grid div {
    padding: 20px;
    background-color: #FAF1E4;
    color: #435334;
}

#display div p:last-child {
    line-height: 2rem;
}

.grid div .companyName {
    display: none;
}

.grid div img {
    border-radius: 8px;
    border: 1px solid #435334;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.list {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.list div {
    padding: 20px;
    background-color: #FAF1E4;
    color: #435334;
}

.list div:nth-child(even) {
    background-color: #ebffd3;
}

.list div img {
    display: none;
}

.list div .companyName {
    display: inline;
    font-size: 1.5rem;
}