/* Color Palette https://colorhunt.co/palette/f5efe7d8c4b64f709c213555 */
body {
    font-family: 'Hind Vadodara', sans-serif;
    margin: 0;
    text-align: center;
    height: 100vh;
}

header, main, footer {
    background-color: #4F709C;
    color: #F5EFE7;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}

.hero {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
}

img {
    max-width: 100%;
    width: 100%;
    display: inline;
    padding: 20px;
    margin: 0;
}

h1, h2 {
    font-family: 'Libre Franklin', sans-serif;
}

#mode {
    font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
 	position: absolute;
	top: 10px;
	right: 60px;
    cursor: pointer;
}

#menu-button {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 10px;
	right: 10px;
    cursor: pointer;
}
.menu li {
    color: #213555;
    padding: 5px;
    display: none;
}

/* toggle open class */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

#menu-button::before {
	content: "☰";
}

#menu-button.open::before {
	content: "X";
}

ul {
    list-style-type: none;
}

.menu {
    background-color: #D8C4B6;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu li a:visited {
    color: inherit;
}

.menu li:hover {
    color: #F5EFE7;
    background-color: #213555;
}

h2 {
    text-decoration: underline;
    text-underline-offset: 10px;
    margin: 10px;
    padding-top: 40px;
    padding-bottom: 20px;
}

main {
    padding-bottom: 10px;
}

.card {
    background-color: #F5EFE7;
    border-radius: 12px;
    color: #213555;
    padding-bottom: 10px;
    margin: 10px 0;
}

.card h3 {
    padding: 10px;
    margin: 0;
}

hr {
    margin: 0;
    border-color: #213555;
}

.learning-activities {
    text-align: left;
    line-height: 1.8em;
    padding: 0 30px;
    margin: 20px;
}

footer {
    padding: 10px 0;
    margin-top: 10px;
}

#lastModified {
    color: yellow;
}

/* Dark mode declarations */
#mode::before {
	content: "☑️";
}

#mode.dark-mode::before {
	content: "❎";
}

.dark-mode {
    background-color: #213555;
}

.dark-mode .card {
    background-color: #4F709C;
    color: #F5EFE7;
}

.dark-mode a {
    color: #F5EFE7;
}

.dark-mode a:visited {
    color: #D8C4B6;
}